<h1>
  <%= campground.name %>
</h1>
<h2>
  <%= campground.location %>
</h2>
<p>
  <%= campground.description %>
</p>

<a href='/campgrounds/<%= campground._id %>/edit'>Edit</a>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
  <button>DELETE THIS CAMPGROUND</button>
</form>